.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore compiled executables (Linux/macOS)
compdetect_server
compdetect_client

# Ignore compiled executables (Windows)
compdetect_server.exe
compdetect_client.exe

# Ignore object files
*.o

# Ignore backup files (optional)
*.out
*.a
*.so
*.dll
